@model IEnumerable<First_MVC.Models.Employee>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<a asp-controller="Employee" asp-action="Create" class="btn btn-info">Create</a>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Department</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>

    @foreach (var em in Model)
    { 
<tr>

    <td>@em.Id</td>
    <td>@em.Name</td>
    <td>@em.Email</td>
    <td>@em.Mobile</td>
    <td>@em.Department</td>
    <td>@em.Gender</td>
    

    <td>
        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@em.Id" class="btn btn-info"><i class=" fa fa-edit " ></i></a>
        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@em.Id" class="btn btn-danger" onclick="return confirm('Are you sure to delete this Employee..?')"><i class=" fa fa-trash"></i></a>


    </td>



</tr>
    
    }

    </table>


